.sign-up-page {
    width: 40%;
}

.login-page {
    width: 35%;
    padding-top: 10px;
}

.dropdown-select {
    width: 49%;
    display: inline-block;
}

.faculty {
    margin-right: 1%;
}

.department {
    margin-left: 1%;
}

.reset-button {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .sign-up-page {
        width: 90%;
    }

    .login-page {
        width: 90%;
    }

    .dropdown-select {
        display: block;
        width: 100%;
    }

    .faculty {
        margin-right: 0;
    }

    .department {
        margin-left: 0;
    }

}