.oops {
    font-size: 50px;
    margin-bottom: 0;
}

.error-image {
    width: 50%;
}

.page-not-found {
    font-size: 40px;
}

.margin-top {
    margin-top: 100px;
}

@media only screen and (max-width: 992px) {
    .oops {
        font-size: 40px;
    }

    .error-image {
        width: 100%;
    }

    .page-not-found {
        font-size: 30px;
    }

    .margin-top {
        margin-top: 0px;
    }
}