.margin-top {
    position: relative;
    top: 50px;
}

.parent-route {
    padding-bottom: 20px;
    top: 55px !important;
    background-color: white;
}

.nav-menu {
    align-items: center;
    justify-content: center;
}

.nav-menu span {
    font-weight: 700;
}

.update-profile {
    margin-top: 10px;
    width: 40%;
}

.result {
    margin-top: 10px;
    width: 90%;
}

.level-semester-subsection {
    width: 22% !important;
    margin-right: 20px;
    margin-top: 40px;
}

.result-subsection {
    width: 75% !important;
    margin-top: 10px;
}

.result-text {
    margin-left: 60px;
    margin-top: 80px !important;
}

.update-profile-text {
    margin-top: 80px;
    text-align: center;
}

@media only screen and (max-width: 992px) {

    .header-margin {
        margin-top: -5px !important;
    }

    .margin-top {
        position: relative;
        top: 120px;
    }

    .parent-route {
        padding-bottom: 5px !important;
        position: sticky !important;
        background-color: rgb(235, 234, 234);
        top: 0px !important;
    }

    .parent-heading {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .nav-menu {
        flex-wrap: wrap;
        height: 80px !important;
        align-items: flex-start;
    }

    .custom-link {
        padding-bottom: 2px !important;
    }

    .update-profile {
        margin-top: 5px;
        width: 90%;
    }

    /* result */

    .result-heading {
        padding-top: 130px;
    }

    .result-text {
        margin-left: 20px;
        margin-top: 10px;
    }

    .level-semester-subsection {
        width: 100% !important;
        margin-top: 5px;
    }

    .result-subsection {
        width: 100% !important;
        margin-top: 30px;
    }

    .table-width {
        width: 500px !important;
    }

    .update-profile-text {
        margin-top: 200px;
    }
}