.header-margin {
    margin-top: 5%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (max-width: 992px) {
    .header-margin {
        margin-top: 18%;
    }
}