.header-fixed-top {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
}

.header-margin {
    margin-top: 50px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sign-out-button {
    border-bottom: 1px solid gray;
    padding: 10px;
    margin-top: 0;
}

@media only screen and (max-width: 992px) {
    .header-fixed-top {
        position: static !important;
    }

    .header-margin {
        margin-top: 18%;
    }

}